*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}
body{
    background-image: url(/img/milad-fakurian-GJKx5lhwU3M-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover; 
   
}
.header{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 5em;
}
.container{
    display: flex;
    justify-content: center;
    text-align: center; 
    flex-wrap: wrap;
}
.program-header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin:  2rem auto;
    text-align: center;
}
.program-sub-header{
    width: 100%;
    margin: 2em auto;
    text-align: center;
}
.card-container{
    border: 2px dotted;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: start;
}
.MDWD-tables table,th,td{
    border: 2px solid;
}
table{
    margin-top: 1em;
}
.BUSI-tables table,th,td{
    border: 2px solid;
}
th,td{
    padding: 10px;
}
.footer{
    margin: 2em 0 ;
    text-align: center;
    padding: 0 1em;
}



@media only screen and (max-width: 1000px) {
    .card-container{ 
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      
    }
  }



